.nota {
  padding: 5px 8px;
  border: solid 1px gray;
  border-radius: 15px;
  min-height: 80px;
  background: var(--nota-bg-colot);
  /* margin: 8px; */
}

.nota__titulo {
  font-weight: 800;
  font-size: 0.9rem;
}
